body
	background #fafafa
	font-family: Helvetica,STHeiti,Droid Sans Fallback;
.tod-hot
	position fixed
	right 0.625rem
	bottom 5rem
	width 3rem
	height 3.5rem
	background url(http://img1.gtimg.com/rcdimg/20160810/10/13385664.png) no-repeat
	background-size 100%
	z-index 999
.fix
	position fixed
	bottom 0
	left 0
	width 100%
	height 2.8125rem
	background-color rgba(0,0,0,.5)
	padding 0.5rem 0.9375rem
	z-index 999
	& .le
		width 1.875rem
		height 1.875rem
		float left
		background-image url(http://mat1.gtimg.com/sports/sportAppWeb/kbsshare/statics/kbs-logo_cf8381.png)
		background-size cover
	& .cen
		line-height 1rem
		margin-left 0.5rem
		float left
		color #fafafa
		font-family "Microsoft Yahei"
		 margin-top -0.0625rem
		& h2
			font-size 0.9375rem
		& p	
			font-size 0.75rem	
	& .ri
		float right
		border-radius 0.125rem
		width 3.625rem
		height 1.875rem
		background-color #4998E7
		color #fff
		font-size 0.75rem
		font-family "Microsoft Yahei"
		line-height 1.875rem
		text-align center
		margin-right 1.125rem
	& .la
		float right
		width 0.75rem
		height 0.75rem
		background url(http://mat1.gtimg.com/www/mobi/image/app_close.png) no-repeat
		background-size 100%
		margin 0.5rem 0 0 0
.global
	background #fafafa
	header
		width 100%
		height 2.75rem
		background-image url(http://mat1.gtimg.com/www/mobi/image/headerbg_v2.png)
		background-repeat no-repeat
		background-position 8.6875rem top
		background-size 8.8125rem 2.75rem
		font-size 0
		border-bottom 0.125rem solid #3e86ce
		& a.tit-icon
			display block
			float left
			width 7.4375rem
			height 1.875rem
			background-image url(http://mat1.gtimg.com/www/mobi/image/logo/logo_sports.png)
			background-size cover
			margin 0.4375rem 0 0 0.625rem
		& a.right
			display block
			float right
			margin 0.875rem 0.875rem 0 0
			width 1.375rem
			height 1rem
			background-image url(http://mat1.gtimg.com/www/mobi/image/icon.png)
			background-size 7.4375rem 1.3125rem
			background-position -1.25rem 0
	section
		width 100%
		& .choose
			width 100%
			padding 0.3125rem 0 0.3125rem 0
			background-color #3e86ce
			& .tit-out
				height 1.875rem
				& a
					display block
					font-size 1.125rem
					float left
					width 20%
					height 1.875rem
					line-height 1.875rem
					text-align center
					color #fff
					&.cur
						background #226fbb
		& .banner
			width 100%
			max-height 10.3125rem 
			position relative
			overflow hidden
			text-align center
			& .selector
				position absolute
				top 8px
				right 12px
				z-index 3
				em
					display block
					float left
					width 6px
					height 6px
					margin-left 8px
					background-color #fff
				& .cur
					background-color #f23e64
			& .imgs
				width 100rem
				position relative
				transition left 0.2s linear
				& a
					display block
					width 20rem
					max-height 10.3125rem
					float left
					position relative
					& img
						width 100%
						position relative
						z-index 0
					& p
						position absolute
						bottom 0
						z-index 1
						line-height 2rem
						width 100%
						color #fff
						padding 0 2.25rem 0 0.5rem
						overflow hidden
						font-size 1rem
						text-overflow ellipsis
						white-space nowrap
						background -webkit-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0.9))
	.MainInner
		width 100%
		padding 0.25rem 0.4375rem 0
		& a.pub
			display block
			width 100%
			position relative
			padding 0.625rem 0
			border-bottom 1px solid #eceef0
			& img
				 padding 1px 0.1875rem
				 border 1px solid #e0e0e0
				 float left
				 width 4.9375rem
				 height 3.6875rem
			& h2
				font-size 0.9375rem
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
				height 1.375rem
				line-height 1.375rem
				padding-left 0.3125rem
				font-weight 400
			& p
				padding-left 5.25rem
				font-size 0.8125rem
				margin-top 0.25rem
				line-height 1.0625rem
				color #878c92
			& span.discuss
				position absolute
				right 0
				bottom 0.25rem
				color #878c92
				& i.pub-i
					display inline-block
					width 0.75rem
					height 0.75rem
					background-image url(http://mat1.gtimg.com/www/mobi/image/icon.png)	
					background-position -5.25rem 0.125rem
					background-size 7.4375rem 1.3123rem
					vertical-align middle
				& i.spec
					display inline-block
					width 3rem
					height 1.75rem
					background-color #4886da
					font-size 1.125rem
					line-height 1.75rem
					text-align center
					color #fafafa
					transform scale(0.5)
					vertical-align middle
					border-radius 0.25rem 
					position relative
					top 0.125rem
				& span
					display inline-block
					font-size .6875em
	.more
		height 2.1875rem
		line-height 2.1875rem
		margin 0 0.5rem 0.9375rem
		border 1px solid #efefef
		background-color #f6f5f5
		& p
			text-align center
			font-size 1rem
			color #b4b4b4
			&:after
				content ""
				display inline-block
				width 1.3125rem
				height 1.3125rem
				background-image url(http://mat1.gtimg.com/www/mobi/image/icon.png)
				background-size 7.4375rem 1.3125rem
				background-position -2.625rem 0
				vertical-align middle
				margin-left 0.3125rem
				margin-top -0.125rem		
	.bot,.fiden
		width 100%
		overflow hidden
		& ul
			& li
				float left
				width 20%
				height 1.75rem
				text-align center			
	.bot
		padding 0.75rem 0
		background #49535d	
		color #95a0ac
		line-height 1.75rem
		font-size 0.9375rem
	.fiden
		background #4998e7
		color #fff
		line-height 1.875rem
		font-size 1.125rem
		height 0rem
		overflow hidden
		transition all 0.3s
		.add
			height 0.75rem
	footer
		background-color #404a54
		padding 0.625rem 0 0.75rem 0.5rem
		overflow hidden
		position relative
		font-size 0.8125rem
		color #95a0ac 
		line-height 1.5625rem
		& .cen,.co
			display block
		& .ba
			color #95a0ac
			&:before
				content ""
				background #565e61
				width 1px
				height 0.75rem
				display inline-block
				vertical-align -1px
				font-size 1em
				color #565e61
				margin-right 0.75rem
				margin-left 0.75rem
		& .co
			font-size 0.5rem
			line-height 1
			white-space nowrap
			color #707982